In [ ]:
1: Create a function with a default argument

In [ ]:
def showemployee(name,salary):
  print(name+" "+"salary:"+salary)

showemployee("Ben","12000")
showemployee("Jessa","9000")

Ben salary:12000
Jessa salary:9000

2: Create an inner function to calculate the addition in the following way

In [ ]:
s=0
def Total(a,b):
  print("1st number:",a)
  print("2nd number:",b)

  def sum():
     s=a+b
     return s

  result=sum()+5
  return result

Total(20,40)

1st number: 20
2nd number: 40

65

3: Generate a Python list of all the even numbers between 4 to 30

In [ ]:
num=0
def even():
  for num in range(4,31):
    if(num%2==0):
      num=list[num]
      print(num)

even()

list[4]
list[6]
list[8]
list[10]
list[12]
list[14]
list[16]
list[18]
list[20]
list[22]
list[24]
list[26]
list[28]
list[30]

Exercise 4: Lambda Function to Check if value is in a List

In [1]:
def findnumber(n, v):
    result = list(filter(lambda x: x == v,n))
    print("input:",n)
    print("element:",v)
    if result:
        print("Value found in the list.")
    else:
        print("Value not found in the list.")
n = [1, 2, 3, 4, 5]
v = 3
findnumber(n,v)
n=[1,2,3,4,5]
v=7
findnumber(n,v)

input: [1, 2, 3, 4, 5]
element: 3
Value found in the list.
input: [1, 2, 3, 4, 5]
element: 7
Value not found in the list.

Exercise 5: Sort list of tuples with their sum

In [5]:
T= [(1, 2), (5, 3), (0, 7), (3, 1)]
print("Input: ",T)

T.sort(key =lambda x:x[0]+x[1])
print("output:",T)

Input:  [(1, 2), (5, 3), (0, 7), (3, 1)]
output: [(1, 2), (3, 1), (0, 7), (5, 3)]

Exercise 6 :
Write a python function, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. Return the results as a list

In [22]:
def evennumber():
    for n in range(1000,3001):

        strnum = list(str(n))

        all_even = True

        for x in strnum:

            if int(x) % 2 != 0:

                all_even = False

        if all_even:
            print(n, ",", end = "")


evennumber()

2000 ,2002 ,2004 ,2006 ,2008 ,2020 ,2022 ,2024 ,2026 ,2028 ,2040 ,2042 ,2044 ,2046 ,2048 ,2060 ,2062 ,2064 ,2066 ,2068 ,2080 ,2082 ,2084 ,2086 ,2088 ,2200 ,2202 ,2204 ,2206 ,2208 ,2220 ,2222 ,2224 ,2226 ,2228 ,2240 ,2242 ,2244 ,2246 ,2248 ,2260 ,2262 ,2264 ,2266 ,2268 ,2280 ,2282 ,2284 ,2286 ,2288 ,2400 ,2402 ,2404 ,2406 ,2408 ,2420 ,2422 ,2424 ,2426 ,2428 ,2440 ,2442 ,2444 ,2446 ,2448 ,2460 ,2462 ,2464 ,2466 ,2468 ,2480 ,2482 ,2484 ,2486 ,2488 ,2600 ,2602 ,2604 ,2606 ,2608 ,2620 ,2622 ,2624 ,2626 ,2628 ,2640 ,2642 ,2644 ,2646 ,2648 ,2660 ,2662 ,2664 ,2666 ,2668 ,2680 ,2682 ,2684 ,2686 ,2688 ,2800 ,2802 ,2804 ,2806 ,2808 ,2820 ,2822 ,2824 ,2826 ,2828 ,2840 ,2842 ,2844 ,2846 ,2848 ,2860 ,2862 ,2864 ,2866 ,2868 ,2880 ,2882 ,2884 ,2886 ,2888 ,

Exercise 7 :Write a python function that accepts a sentence and calculate and return the number of letters and digits.

In [4]:
def countdigitsletters(st):
    count=0
    num=0
    for i in st:
        if i.isalpha():
            count+=1
        elif i.isnumeric():
            num+=1


    print("number of digit in the sentence:",num)
    print("number of letters in the sentence:",count)

countdigitsletters("hello world 123")
countdigitsletters("world of python 56789")

number of digit in the sentence: 3
number of letters in the sentence: 10
number of digit in the sentence: 5
number of letters in the sentence: 13

Exercise 8  MAP:
Write a Python program to convert all the characters into uppercase and lowercase and eliminate duplicate letters from a given sequence. Use the map() function

In [17]:
def myfunc(n):
  return str(n).upper()
def myfunc1(n):
  return str(n).lower()



st=("hello welcome to the world of python")
x = map(myfunc, st)
print(list(x))
y = map(myfunc1, st)
print(list(y))

['H', 'E', 'L', 'L', 'O', ' ', 'W', 'E', 'L', 'C', 'O', 'M', 'E', ' ', 'T', 'O', ' ', 'T', 'H', 'E', ' ', 'W', 'O', 'R', 'L', 'D', ' ', 'O', 'F', ' ', 'P', 'Y', 'T', 'H', 'O', 'N']
['h', 'e', 'l', 'l', 'o', ' ', 'w', 'e', 'l', 'c', 'o', 'm', 'e', ' ', 't', 'o', ' ', 't', 'h', 'e', ' ', 'w', 'o', 'r', 'l', 'd', ' ', 'o', 'f', ' ', 'p', 'y', 't', 'h', 'o', 'n']

Exercise 9:Write a Python program to element wise add two given lists and find the difference between them. Use the map() function

In [7]:
l1=[1,3,5,6,8]
l2=[0,2,3,4,7]
add=list(map(lambda x,y:x+y,l1,l2))
diffrence=list(map(lambda x,y:x-y,l1,l2))
print("Add:",add)
print("Diffrence:",diffrence)

Add: [1, 5, 8, 10, 15]
Diffrence: [1, 1, 2, 2, 1]

Exercise 10 Filter:
Write a Python program to filter the height and weight of students, which are stored in a dictionary using lambda.

In [24]:
d={'Cierra Vega': (6.2, 71), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}
filterdata=dict(filter(lambda item: (item[1][0],item[1][1]) > (6.0 , 70), d.items()))
print(d)
print("\nHeight > 6ft and Weight > 70kg:",filterdata)
print()

{'Cierra Vega': (6.2, 71), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}

Height > 6ft and Weight > 70kg: {'Cierra Vega': (6.2, 71)}

Exercise 11 Filter:
Write a Python program to remove all elements from a given list present in another list using lambda.

In [27]:
list1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2=[2, 4, 6, 8]
filterdata=list(filter(lambda x:x not in list2,list1))
print("The filterd data:",filterdata)

The filterd data: [1, 3, 5, 7, 9, 10]

Exercise 12 Reduce:


Write a Python program to calculate the product of a given list of numbers using lambda.

In [38]:
from functools import reduce
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print("Orignal List  :",l)

# using reduce and lambda
s=reduce(lambda a,b:a*b,l)
print("product = ",s)

Orignal List  : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
product =  3628800

Exercise 13 Reduce:


 Write a Python program to multiply all the numbers in a given list using lambda.

In [1]:
from functools import reduce
l=[4, 3, 2, 2, -1, 18]


print("Orignal List  :",l)

# using reduce and lambda
s=reduce(lambda a,b:a*b,l)
print("product = ",s)

Orignal List  : [4, 3, 2, 2, -1, 18]
product =  -864

Exercise 14 Reduce:


Write a Python program to calculate the average value of the numbers in a given tuple of tuples using lambda.

In [9]:
from functools import reduce
t=((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))

print("Orignal tuples  :",t)

# using reduce and lambda
s = tuple(map(lambda x: reduce(lambda a,b: a + b, x) / float(len(x)), zip(*t)))
print("product = ",s)

Orignal tuples  : ((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))
product =  (30.5, 34.25, 27.0)

Exercise 15:


Write a Python program to sort a given mixed list of integers and strings using lambda. Numbers must be sorted before strings.

In [10]:
list1=[19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]
list1.sort(key=lambda x:(isinstance(x,str),x))
print(list1)

[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

Exercise 16:
Write a Python program to count the occurrences of items in a given list using lambda.

In [12]:
list1=[3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]

print("orginal list:",list1)
o=dict(map(lambda x:(x,list1.count(x)),list1))

print("count the occurance:",o)

orginal list: [3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]
count the occurance: {3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

Exercise 17:


Write a Python program to remove None values from a given list using the lambda function.

In [13]:
list1 = [12, 0, None, -55, 234, 85, None, 0, 6, -12]

newlist= list(filter(lambda x: x is not None, list1))

print("Original list:",list1)
print("New list:",newlist)

Original list: [12, 0, None, -55, 234, 85, None, 0, 6, -12]
New list: [12, 0, -55, 234, 85, 0, 6, -12]