1.Write a Python program to sum all the items in a list.

In [ ]:
list=[34,67,87,12,100]
sum=0
for x in list:
  sum=sum+x
print(sum)

300

2.Write a Python program to get the largest number from a list.

In [ ]:
list=[34,67,87,12,100]
list.sort()
print(list[-1])

100

3.Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.

In [ ]:
list1=['abc', 'xyz', 'aba', '1221']
count=0
for x in list1:
  if len(x)>1 and x[0]==x[-1]:
    count=count+1
print(count)

2

4.Write a Python program to remove duplicates from a list.

In [ ]:
mylist=["apple","banana","pear","apple","cherry","banana"]
mylist=list(dict.fromkeys(mylist))
print(mylist)

['apple', 'banana', 'pear', 'cherry']

5.Write a Python program to check if a list is empty or not.

In [ ]:
list1=[1,3,9,5,7,4,10,8]
x=len(list1)
if x==0:
 print("list is empty")
else:
  print("list is not empty")

list is not empty

6.Write a Python program to filter the list if the length of the character is < 4

In [ ]:
mylist=['abc', 'xyz','3542','123','aba', '1221']
for x in mylist:
  if len(x)<4:
    print(x)

abc
xyz
123
aba

7.Write a Python program to find the second largest number in a list.

In [ ]:
list1=[1,3,9,5,7,4,10,8]
list1.sort()
print(list1)
print("second largest is:",list1[-2])

[1, 3, 4, 5, 7, 8, 9, 10]
second largest is: 9

8. Write a Python program to reverse a list at a specific location.

In [ ]:
list1=[1,3,9,5,7,4,10,8]
list1.reverse()
print(list1)

[8, 10, 4, 7, 5, 9, 3, 1]

 9.Write a Python program to check if a list is a palindrome or not. Return true otherwise false.

In [ ]:
list1=[7,7,7,8,7,7,7]
r=list(list1)
list1.reverse()

if list1==r:
  print("list is palindrom")
else:
  print("list is not palindrom")

list is palindrom

10.Write a Python a program to find the union and intersection of two lists.

In [ ]:
list1=[1,2,3,4]
list2=[5,6,2,3,7]
union=list(set(list1) | set(list2))
print(union)
intersection=list(set(list1) & set(list2))
print(intersection)

[1, 2, 3, 4, 5, 6, 7]
[2, 3]

11.Write a Python script to sort (ascending and descending) a dictionary by value

In [2]:
d={2:3,5:6,7:9,9:8,3:1}
l=list(d.items())
l.sort(key=lambda x:x[1])
print(l)

[(3, 1), (2, 3), (5, 6), (9, 8), (7, 9)]

12.Write a Python script to check whether a given key already exists in a dictionary.

In [ ]:
d = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in d:
  print("Yes, 'model' is one of the keys in the  dictionary")
else:
  print("the key is not exist")

Yes, 'model' is one of the keys in the  dictionary

13.Write a Python program to sum all the values in a dictionary.

[ ]

In [ ]:
d={1:2,
   4:5,
   6:7,
   9:3}
sum=0
for x in d.values():
  sum=sum+x
print(sum)

17

14..Write a Python program to create a dictionary with a number and its corresponding square from 1 to input number. And also check if the input number is less than 10

In [ ]:
n = int(input())
d = dict()
if n<=10:
    for x in range(1, n + 1):
      d[x]=x*x
print(d)

5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

15.Write a Python program to sort a given dictionary by key.

In [ ]:
d={"fruit": "apple",
  "drink": "lemon",
  "vegitable":"potato"}
k=list(d.items())
k.sort()
d=dict(k)
print(d)

{'drink': 'lemon', 'fruit': 'apple', 'vegitable': 'potato'}

16.Write a Python program to create a dictionary from a string.

In [ ]:
s= 'learnpython'
d={}
for x in s:
  d[x]=d.get(x,0)+1
print(d)

{'l': 1, 'e': 1, 'a': 1, 'r': 1, 'n': 2, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1}

17.Write a Python program to get the top three items in a shop.

In [ ]:
d={'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
print("Initial Dictionary:")
print(d,"\n")
v=list(d.values())
v.sort(reverse= True)
v=v[:3]

print("Dictionary with 3 highest values:")
print("Keys: Values")
for i in v:
    for j in d:
      if(d[j]==i):
        print(str(j),":",str(d[j]))

Initial Dictionary:
{'item1': 45.5, 'item2': 35, 'item3': 41.3, 'item4': 55, 'item5': 24}

Dictionary with 3 highest values:
Keys: Values
item2 : 35
item5 : 24